@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.gridsubsecciones, .bombachas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

header {
  background-color: #052A59;
}

.navegacion a {
  color: white;
}

.navegacion a:hover {
  font-size: 1.2rem;
  color: white;
  text-decoration: underline;
}

.navegacion {
  width: 100%;
  background-color: #052A59;
}

.navbar-toggler {
  background-color: #D8F2F0;
  color: #052A59;
}

.banner {
  background-color: #052A59;
}

.banner img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
}

.banner div a:hover {
  text-decoration: underline;
}

.banner div a {
  color: #D8F2F0;
}

footer {
  width: 100%;
  background-color: #052A59;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer_menu a {
  color: #052A59;
}

footer label {
  color: white;
}

.footer_menu li:hover {
  background-color: darkgrey;
}

footer div {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", serif;
}

.sale {
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #8AABBF;
}

h1 {
  color: red;
  text-align: center;
  background-color: none;
  font-family: "Bebas Neue", serif;
  font-style: normal;
  font-size: 4rem;
}

.cards article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #8AABBF 1px solid;
  align-items: center;
  margin: 15px;
  border-radius: 10px;
}

.cards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards h2 {
  text-align: center;
  padding: 10px;
}

.boton_azul {
  background-color: #052A59;
  color: white;
}

.boton_azul:hover {
  background-color: #4B81C0;
  color: #052A59;
}

.cards img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.cards_subsecciones article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #052A59;
}

.cards_subsecciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #052A59;
}

.cards_subsecciones a {
  color: #D8F2F0;
}

.cards_subsecciones img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.cards_subsecciones a:hover {
  text-decoration: underline;
  font-size: 1rem;
}

.griditem {
  border: #419BBF 1px solid;
  text-align: center;
  padding: 10px;
}

@media (max-width: 375px) {
  .menu_footer {
    display: flex;
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
  }
  .cards_subsecciones {
    flex-direction: column;
  }
  .banner img {
    width: 50%;
  }
  .cards img {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
  .banner img {
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
  .cards_subsecciones img {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .cards img {
    width: 60%;
  }
  .cards_subsecciones img {
    width: 60%;
  }
  .banner img {
    width: 100%;
  }
  .menu_footer {
    display: flex;
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
  }
  .cards_subsecciones {
    flex-direction: column;
  }
}
h2 {
  background-color: #8AABBF;
  font-family: "Montserrat", serif;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.rutas2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "uno" "dos" "tres" "cuatro";
  margin-bottom: 10px;
}

.gridarea_uno {
  grid-area: "uno";
}

.gridarea_dos {
  grid-area: "dos";
}

.gridarea_tres {
  grid-area: "tres";
}

.gridarea_cuatro {
  grid-area: "cuatro";
}

.rutas2 article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 50px;
  background-color: #8AABBF;
}

.rutas2 img {
  width: 100%;
  border-radius: 10px;
}

.rutas2 h3:hover {
  color: #052A59;
  text-decoration: underline;
}

@media (max-width: 375px) {
  .rutas2 {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro";
  }
  .rutas2 article {
    margin: 10px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rutas2 img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .rutas2 img {
    width: 50%;
  }
  .rutas2 {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro";
  }
}
.cards_conjuntos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards_conjuntos article {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border: #419BBF 1px solid;
  margin: 10px;
  border-radius: 5px;
}

.cards_conjuntos img {
  width: 100%;
  border-radius: 2px;
}

.conjuntos article {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #419BBF 1px solid;
  margin: 30px;
  border-radius: 5px;
}

.conjuntos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conjuntos img {
  width: 100%;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.conjuntos h3:hover {
  text-decoration: underline;
}

.radial-gradient {
  background-image: radial-gradient(circle, white, #8AABBF);
}

@media (max-width: 375px) {
  .conjuntos {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .cards_conjuntos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards_conjuntos img {
    width: 50%;
  }
  .conjuntos img {
    width: 50%;
    height: 80%;
  }
}
@media (min-width: 768px) {
  .cards_conjuntos img {
    width: 50%;
  }
  .conjuntos img {
    width: 50%;
    height: 80%;
  }
}
@media (max-width: 768px) {
  .conjuntos {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .cards_conjuntos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards_conjuntos img {
    width: 50%;
  }
  .conjuntos img {
    width: 50%;
    height: 80%;
  }
}
.cards_basicos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 10px;
}

.cards_basicos div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #8AABBF;
}

.gridareabasicos_uno {
  grid-area: 1/1;
  border-radius: 10px;
}

.gridareabasicos_dos {
  grid-area: 2/2;
  border-radius: 10px;
}

.gridareabasicos_tres {
  grid-area: 3/1;
  border-radius: 10px;
}

.cards_basicos img {
  width: 100%;
  border-radius: 10px;
}

.h3_bas {
  color: white;
}

@media (max-width: 375px) {
  .cards_basicos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .cards_basicos img {
    width: 50%;
  }
  .gridareabasicos_uno {
    grid-area: 1/1;
  }
  .gridareabasicos_dos {
    grid-area: 2/1;
  }
  .gridareabasicos_tres {
    grid-area: 3/1;
  }
}
@media (max-width: 768px) {
  .cards_basicos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .cards_basicos img {
    width: 50%;
  }
  .gridareabasicos_uno {
    grid-area: 1/1;
  }
  .gridareabasicos_dos {
    grid-area: 2/1;
  }
  .gridareabasicos_tres {
    grid-area: 3/1;
  }
}
@media (min-width: 768px) {
  .cards_basicos img {
    width: 50%;
  }
}
.personalizadoSection {
  background-color: #8AABBF;
  font-family: "Montserrat", serif;
  font-style: normal;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  width: 100%;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxes article {
  text-align: center;
  border: #8AABBF 1px solid;
  border-radius: 5px;
  margin: 40px;
  background-color: #8AABBF;
}

.boxes img {
  width: 100%;
  border-radius: 5px;
}

.boxes a:hover {
  text-decoration: underline;
  color: white;
}

.h3_per {
  color: white;
}

@media (max-width: 375px) {
  .boxes {
    display: flex;
    flex-direction: column;
  }
  .personalizadoSection {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .boxes img {
    width: 50%;
  }
  .boxes {
    display: flex;
    flex-direction: column;
  }
  .personalizadoSection {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .boxes img {
    width: 50%;
  }
}
.conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "uno uno" "uno dos" "dos uno" "dos dos";
  gap: 50px;
  margin: 20px;
}

.conteiner article {
  background-color: #8AABBF;
}

.griditem {
  border: #419BBF 1px solid;
  text-align: center;
  padding: 10px;
}

.gridareauno {
  grid-area: uno uno;
  align-content: center;
}

.gridareados {
  grid-area: uno dos;
  align-content: center;
}

.gridareatres {
  grid-area: dos uno;
  align-content: center;
}

.gridareacuatro {
  grid-area: dos dos;
  align-content: center;
}

.conteiner img {
  width: 100%;
}

.h3_acc {
  color: white;
}

@media (max-width: 375px) {
  .conteiner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .linear-gradient_dos {
    background-image: linear-gradient(to right, #8AABBF, white);
  }
  .conteiner img {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .conteiner img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .conteiner img {
    width: 50%;
  }
}
.corpiños {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.corpiños div {
  margin: 10px;
}

@media (max-width: 375px) {
  .corpiños {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
}
.bombachas div {
  margin: 10px;
}

@media (max-width: 375px) {
  .bombachas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
}
.packs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.packs div {
  margin: 10px;
}

.gridareapack_uno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gridareapack_dos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gridareapack_tres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gridareapack_cuatro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bodies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.bodies div {
  margin: 10px;
}

@media (max-width: 375px) {
  .bodies {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
