.conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "uno uno"
    "uno dos"
    "dos uno"
    "dos dos";
    gap: 50px;
    margin: 20px;
}
.conteiner article{
    background-color: $fondo_sale;
}
.griditem{
    border: $borde_celeste 1px solid;
    text-align: center;
    padding: 10px;
}
.gridareauno{
    grid-area: uno uno;
    align-content: center;
}
.gridareados{
    grid-area: uno dos;
    align-content: center;
}
.gridareatres{
    grid-area: dos uno;
    align-content: center;
}
.gridareacuatro{
    grid-area: dos dos;
    align-content: center;
}

.conteiner img{
    width: 100%;
}

// Mediaqueries

@media(max-width:375px){
    .conteiner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .linear-gradient_dos{
        background-image: linear-gradient(to right, $fondo_sale, white);
    }
    .conteiner img{
        width: 50%
    }
}
@media (min-width: 768px) {
    .conteiner img{
        width: 50%
    }
}
@media (max-width: 768px) {
    .conteiner img{
        width: 50%;
    }
}