.conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "uno uno"
    "uno dos"
    "dos uno"
    "dos dos";
    gap: 50px;
}
.griditem{
    border: $borde_celeste 1px solid;
    text-align: center;
    padding: 10px;
}
.gridareauno{
    grid-area: uno uno;
}
.gridareados{
    grid-area: uno dos;
}
.gridareatres{
    grid-area: dos uno;
}
.gridareacuatro{
    grid-area: dos dos;
}

// Mediaqueries

@media(max-width:375px){
    .conteiner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}