// Section

.bombachas{
    @extend .gridsubsecciones;
}

.bombachas div{
    margin: 10px;
}

// Mediaqueries

@media(max-width:375px){
    .bombachas{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}