// Header
header{
    background-color:$fondo_azul;
}
.navegacion a{
    color: white;
}
.navegacion a:hover{
    font-size: 1.2rem;
    color: white;
    text-decoration: underline;
}
.navegacion{
    width: 100%;
    background-color: $fondo_azul;
}
.navbar-toggler{
    background-color: $textos_banner;
    color: $fondo_azul;
}
.banner{
    background-color: $fondo_azul;
}
.banner img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}
.imagenes_banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner div a:hover{
    text-decoration: underline;
}
.banner div a{
    color: $textos_banner;
}
.texto_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $textos_banner;
    font-family: $fuente_textos;
}
// Footer

footer{
    width: 100%;
    background-color:$fondo_azul;
    @include flexrowspb;
    align-items: center;
    color: white;
}
.footer_menu a{
    color:$fondo_azul;
}
footer label{
    color: white;
}
.footer_menu li:hover{
    background-color: darkgrey;
}
footer div{
    display: flex;
    flex-direction: row;
    padding: 2px;
}

a{
    color: $color_fuente_textos;
    text-decoration: none;
    font-family: $fuente_textos;
}

// Sale
.sale{
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $fondo_sale;
}
h1{
    color: $color_fuente_sale;
    text-align: center;
    background-color: none;
    font-family: $fuente_titulos;
    font-style: normal;
    font-size: 4rem;
}

// Cards
.cards article{
    @include flexcolumncenter;
    border: $fondo_sale 1px solid;
    align-items: center;
    margin: 15px;
    border-radius: 10px;
}
.cards div{
    @include flexcolumncenter;
}
.cards{
    @include flexrowspb;
}
.cards h2{
    text-align: center;
    padding: 10px;
}
.boton_azul{
    background-color: $fondo_azul;
    color: $blanco_textos;
}
.boton_azul:hover{
    background-color: $fondo_gris;
    color: $fondo_azul ;
}

.cards img{
    width: 100%;
    height: auto;
    padding-top: 10px; 
}

// Cards Subsecciones
.cards_subsecciones article{
    @include flexcolumncenter;
    align-items: center;
    margin: 10px;
    background-color: $fondo_azul;
}
.cards_subsecciones{
    @include flexrowspb;
    background-color: $fondo_azul;
}
.cards_subsecciones a{
    color: $textos_banner;
}
.cards_subsecciones img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.cards_subsecciones a:hover{
    text-decoration: underline;
    font-size: 1rem;
}
// Grid item

.griditem{
    border: $borde_celeste 1px solid;
    text-align: center;
    padding: 10px;
}

// Mediaqueries

@media(max-width:375px){
    //Footer
    .menu_footer{
        display: flex;
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
    }
    .cards_subsecciones{
        flex-direction: column;
    }
    .banner img{
        width: 50%;
    }
    .cards img{
        width: 50%;
    }
}
@media (min-width: 768px) {
    .cards{ 
        flex-direction: row;
    }
    .banner img{
        width: 50%;
    }
    .cards img {
        width: 60%;
    }
    .cards_subsecciones img{
        width: 60%;
    }

}
@media (max-width: 768px) {
    .cards img {
        width: 60%;
    }
    .cards_subsecciones img{
        width: 60%;
    }
    .banner img{
        width: 50%;
    }
    .menu_footer{
        display: flex;
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
    }
    .cards_subsecciones{
        flex-direction: column;
    }
}