// Section
.personalizadoSection{
    background-color: $fondo_sale;
    font-family: $fuente_textos;
    font-style: normal;
    text-align: center;
    color: $blanco_textos;
    font-size: 1.5rem;
    width: 100%;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boxes article{
    text-align: center;
    border: $fondo_sale 1px solid;
    border-radius: 5px;
    margin: 40px;
    background-color: $fondo_sale;
}
.boxes img{
    width: 100%;
    border-radius: 5px;
}

.boxes a:hover{
    text-decoration: underline;
}

// Mediaqueries

@media(max-width:375px){
    .boxes{
        display: flex;
        flex-direction: column;
    }
    .personalizadoSection{
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .boxes img{
        width: 50%;
    }
    .boxes{
        display: flex;
        flex-direction: column;
    }
    .personalizadoSection{
        font-size: 1rem;
    }
}
@media (min-width: 768px){
    .boxes img{
        width: 50%;
    }
}