@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header{
    width: 100%;
    background-color: rgb(0, 0, 77);
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    color: white;
}
.dropdown-item{
    color: rgb(0, 0, 77);
}
.boton{
    color: white;
}
.boton:hover{
    color: rgb(0, 0, 77);
    background-color: white;
}
.perfiles{
    width: 3%;
    height: 3%;
}
.perfiles img{
    width: 100%;
}
.navegacion{
    width: 100%;
}
.d-flex{
    padding-right: 10px;
}
footer{
    width: 100%;
    background-color: rgb(0, 0, 77);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer_menu a{
    color:rgb(0, 0, 77);
}
footer label{
    color: white;
}
.footer_menu li:hover{
    background-color: darkgrey;
}
footer div{
    display: flex;
    flex-direction: row;
    padding: 2px;
}
a{
    color: black;
    text-decoration: none;
    font-family: "Montserrat", serif;

}
h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.personalizadoSection{
    background-color:  rgb(103, 194, 255);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: antiquewhite;
    font-size: 1.5rem;
}
.banner img{
    padding-top: 5px;
    padding-bottom: 1px;
    width: 100%;
}

.cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards h3{
    text-align: center;
    padding: 10px;
}
.sale{
    background-color: rgb(103, 194, 255);
    padding-bottom: 20px;
}
.sale h2{
    color: red;
    text-align: center;
    background-color: none;
    font-family: "Bebas Neue", serif;
    font-style: normal;
    font-size: 2.5rem;
}
h2{
    background-color:  rgb(103, 194, 255);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem; 
    color: antiquewhite;
}
.rutas{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rutas article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: black 1px solid;
}
.rutas img{
    width: 100%;
}
.correccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rutas2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rutas2 article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: black 1px solid;
    margin: 50px;
}
.rutas2 img{
    width: 100%;
}
.cards article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
}
main{
    padding-bottom: 5px;
    padding-top: 5px;
}
.cards_basicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards_basicos img{
    width: 33%;
    border: skyblue 1px solid;
}
.basicos_uno{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.basicos_uno div{
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.basicos_dos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.basicos_dos div{
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.basicos_tres{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.basicos_tres div{
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.cards_conjuntos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards_conjuntos article{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border: skyblue 1px solid;
}
.cards_conjuntos img{
    width: 70%;
}
.conjuntos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conjuntos article{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: skyblue 1px solid;
}
.conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}
.griditem{
    border: skyblue 1px solid;
    text-align: center;
    padding: 10px;
}
.gridareauno{
    grid-area: uno uno;
}
.gridareados{
    grid-area: uno dos;
}
.gridareatres{
    grid-area: dos uno;
}
.gridareacuatro{
    grid-area: dos dos;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxes article{
    width: 40%;
    text-align: center;
    border: skyblue 1px solid;
    margin: 2%;
}
.boxes img{
    width: 100%;
}
.card img{
    width: 50%;
}
.boton_azul{
    background-color: rgb(0, 0, 77);
    color: white;
}
.boton_azul:hover{
    background-color: grey;
    color:rgb(0, 0, 77) ;
}
.subsecciones img{
    width: 100%;
}