@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header{
    width: 100%;
    background-color: rgb(0, 0, 77);
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    color: white;
}
.navegacion a{
    color: white;
}
.navegacion a:hover{
    font-size: 1.2rem;
    color: white;
}
@media(max-width:375px){
    header{
        flex-direction: row;
        justify-content: flex-start;
    }
}
.boton{
    color: white;
}
.boton:hover{
    font-size: 1rem;
}
.navegacion{
    width: 100%;
}
.d-flex{
    padding-right: 10px;
}
footer{
    width: 100%;
    background-color: rgb(0, 0, 77);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer_menu a{
    color:rgb(0, 0, 77);
}
footer label{
    color: white;
}
.footer_menu li:hover{
    background-color: darkgrey;
}
footer div{
    display: flex;
    flex-direction: row;
    padding: 2px;
}
a{
    color: black;
    text-decoration: none;
    font-family: "Montserrat", serif;

}
h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.personalizadoSection{
    background-color:  rgb(103, 194, 255);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: antiquewhite;
    font-size: 1.5rem;
    width: 100%;
}
.banner img{
    width: 100%;
    height: auto;
}

.cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards h3{
    text-align: center;
    padding: 10px;
}
.sale{
    background-color: rgb(103, 194, 255);
    padding-bottom: 20px;
}
.sale h2{
    color: red;
    text-align: center;
    background-color: none;
    font-family: "Bebas Neue", serif;
    font-style: normal;
    font-size: 2.5rem;
}
h2{
    background-color:  rgb(103, 194, 255);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem; 
    color: antiquewhite;
}
.rutas{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rutas article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: black 1px solid;
}
.rutas img{
    width: 100%;
}
.correccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rutas2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "uno"
    "dos"
    "tres"
    "cuatro";;
}
.gridarea_uno{
    grid-area: "uno";
}
.gridarea_dos{
    grid-area: "dos";
}
.gridarea_tres{
    grid-area: "tres";
}
.gridarea_cuatro{
    grid-area: "cuatro";
}
.rutas2 article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: black 1px solid;
    margin: 50px;
}
.rutas2 img{
    width: 100%;
}
.cards article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
}
main{
    padding-bottom: 5px;
    padding-top: 5px;
}
.cards_basicos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cards_basicos div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gridareabasicos_uno{
    grid-area: 1/1;
}
.gridareabasicos_dos{
    grid-area: 2/2;
}
.gridareabasicos_tres{
    grid-area: 3/1;
}
.cards_basicos img{
    width: 100%;
}
.cards_conjuntos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards_conjuntos article{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border: skyblue 1px solid;
}
.cards_conjuntos img{
    width: 100%;
}
.conjuntos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.conjuntos img{
    width: 100%;
}
.conjuntos article{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: skyblue 1px solid;
}
.conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "uno uno"
    "uno dos"
    "dos uno"
    "dos dos";
    gap: 50px;
}
@media (max-width:375px){
    .conteiner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .rutas2{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro";
    }
    .rutas2 article{
        width: 100%;
        margin: 0;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards_basicos{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .gridareabasicos_uno{
        grid-area: 1/1;
    }
    .gridareabasicos_dos{
        grid-area: 2/1;
    }
    .gridareabasicos_tres{
        grid-area: 3/1;
    }
    .conjuntos article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: skyblue 1px solid;
    }
    .cards_conjuntos{
        flex-direction: column;
    }
    .cards_conjuntos article{
        flex-direction: row;
    }
    .personalizadoSection{
        font-size: 1rem;
    }
    .boxes{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:500px){
    footer div{
        flex-direction: column;
    }
}
.griditem{
    border: skyblue 1px solid;
    text-align: center;
    padding: 10px;
}
.gridareauno{
    grid-area: uno uno;
}
.gridareados{
    grid-area: uno dos;
}
.gridareatres{
    grid-area: dos uno;
}
.gridareacuatro{
    grid-area: dos dos;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boxes article{
    text-align: center;
    border: skyblue 1px solid;
}
.boxes img{
    width: 100%;
}
.card img{
    width: 50%;
}
.boton_azul{
    background-color: rgb(0, 0, 77);
    color: white;
}
.boton_azul:hover{
    background-color: grey;
    color:rgb(0, 0, 77) ;
}
.subsecciones img{
    width: 100%;
}